Repository robbinjanssen/home-assistant-omnik-inverter: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture, yamllint

bandit:
  name: Checking using bandit
  language: system
  entry: poetry run bandit
  require_serial: true

black:
  name: Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: Check code for common misspellings
  language: system
  entry: poetry run codespell
  args:
  - --ignore-words=.codespell-ignore

debug-statements:
  name: Debug Statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

flake8:
  name: Enforcing style guide with flake8
  language: system
  entry: poetry run flake8
  require_serial: true

isort:
  name: Sort all imports with isort
  language: system
  entry: poetry run isort

pylint:
  name: Starring code with pylint
  language: system
  entry: poetry run pylint

pyupgrade:
  name: Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py39-plus
  - --keep-runtime-typing

vulture:
  name: Find unused Python code with Vulture
  language: system
  entry: poetry run vulture
  pass_filenames: false
  require_serial: true

yamllint:
  name: Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

fixed black code formating
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Remove trailing white space
  custom_components/omnik_inverter/translations/de.json
Due: check-json, codespell

Fix `CONF_SERIAL` type in options flow to be `int` instead of `str`
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Fix `CONF_SERIAL` type in options flow to be `int` instead of `str` (#200)
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Add link to PR number in release notes
  .github/release-drafter.yml
Due: check-yaml, codespell, yamllint

Update .github/release-drafter.yml
  .github/release-drafter.yml
Due: check-yaml, codespell, yamllint

Add link to PR number in release notes (#201)
  .github/release-drafter.yml
Due: check-yaml, codespell, yamllint

Update README.md
  README.md
Due: blacken-docs, codespell

Update maintenance badge
  README.md
Due: blacken-docs, codespell

Apply suggestions from code review
  README.md
Due: blacken-docs, codespell

Change log level to debug
  custom_components/omnik_inverter/coordinator.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Bump versions
  .github/labels.yml
  .github/workflows/linting.yaml
  custom_components/omnik_inverter/manifest.json
  poetry.lock
  pyproject.toml
Due: check-json, check-toml, check-yaml, codespell, yamllint

Bump python-omnikinverter
  custom_components/omnik_inverter/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: blacken-docs, codespell

Fix "black" lint issues
  custom_components/omnik_inverter/__init__.py
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/const.py
  custom_components/omnik_inverter/coordinator.py
  custom_components/omnik_inverter/diagnostics.py
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Update all dependencies
  poetry.lock
Due: none

Perform a single request to acquire device _and_ inverter data
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/coordinator.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Remove deprecated assignment of `OptionsFlow.config_entry`
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Factor `source_type` out of `OmnikInverterOptionsFlowHandler`
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Missing `self` typo
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Fix invalid entity IDs for HA 2026.2
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Added entity translations (EN/NL/DE) per Integration Quality Scale guidelines. Entity names are now fully translation-ready and no longer hard-coded in code.
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
Due: check-json, codespell

Remove hardcoded entity names to enable translations
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Fix all the things!
  .github/workflows/linting.yaml
  .github/workflows/requirements.txt
  .pre-commit-config.yaml
  bandit.yaml
  custom_components/omnik_inverter/__init__.py
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/coordinator.py
  custom_components/omnik_inverter/diagnostics.py
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/sensor.py
  hacs.json
  mypy.ini
  poetry.lock
  pyproject.toml
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture, yamllint

Fix naming
  .github/dependabot.yml
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-yaml, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture, yamllint

Add renovate config
  .github/renovate.json
  .github/workflows/linting.yaml
Due: check-json, check-yaml, codespell, yamllint

Replace
  pyproject.toml
Due: check-toml, codespell

Update github actions
  .github/release-drafter.yml
  .github/workflows/draft-release.yaml
  .github/workflows/hacs.yml
  .github/workflows/hassfest.yaml
  .github/workflows/issues.yaml
  .github/workflows/linting.yaml
  .github/workflows/requirements.txt
  .github/workflows/sync-labels.yaml
  .github/workflows/verify-pr-labels.yaml
Due: check-yaml, codespell, yamllint

Fix readme
  README.md
Due: blacken-docs, codespell

Bump versions
  custom_components/omnik_inverter/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

Migrate 2.x unique IDs and fix Ruff 0.16 lint errors
  README.md
  custom_components/omnik_inverter/__init__.py
  custom_components/omnik_inverter/sensor.py
  pyproject.toml
Due: black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Fix diagnostics redaction, duplicate entries and options reload
  custom_components/omnik_inverter/__init__.py
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/coordinator.py
  custom_components/omnik_inverter/diagnostics.py
  custom_components/omnik_inverter/strings.json
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Bump version to 3.0.1
  custom_components/omnik_inverter/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

Move to Python 3.14, enable strict typing and add tests
  .github/workflows/linting.yaml
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/const.py
  custom_components/omnik_inverter/coordinator.py
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/sensor.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_diagnostics.py
  tests/test_init.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture, yamllint

Use translated entity names and icon translations
  custom_components/omnik_inverter/binary_sensor.py
  custom_components/omnik_inverter/icons.json
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/sensor.py
  custom_components/omnik_inverter/strings.json
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
  tests/conftest.py
  tests/test_sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Add reconfigure flow and limit options to the scan interval
  README.md
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/const.py
  custom_components/omnik_inverter/manifest.json
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/strings.json
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
  info.md
  tests/test_config_flow.py
  tests/test_init.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Require Home Assistant 2026.9 and use its newer APIs
  README.md
  custom_components/omnik_inverter/__init__.py
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/coordinator.py
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/strings.json
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
  hacs.json
  info.md
  tests/test_init.py
  tests/test_sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Ship the brand images with the integration
  custom_components/omnik_inverter/brand/icon.png
  custom_components/omnik_inverter/brand/icon@2x.png
  custom_components/omnik_inverter/brand/logo.png
  custom_components/omnik_inverter/brand/logo@2x.png
Due: codespell

Path conditions:
  bandit: any of: ^customer_components/omnik_inverter/ and \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  pyupgrade: any of: \.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
