Repository robbinjanssen/home-assistant-omnik-inverter: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture, yamllint

Path conditions:
  bandit: any of: ^customer_components/omnik_inverter/ and \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  pyupgrade: any of: \.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$

Fix styling
  custom_components/omnik_inverter/binary_sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Fix docblock
  custom_components/omnik_inverter/binary_sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Firce release drafter
  custom_components/omnik_inverter/binary_sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Reuse names from previous version
  custom_components/omnik_inverter/manifest.json
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/sensor.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

fix draft
  .github/release-drafter.yml
Due: check-yaml, codespell, yamllint

Do not pass session for now
  custom_components/omnik_inverter/coordinator.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

config_flow: Print exception info to log
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

coordinator: Also emit exceptions to log
  custom_components/omnik_inverter/coordinator.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Sort JSON keys in manifest
  custom_components/omnik_inverter/manifest.json
Due: check-json, codespell

Update labels.yml
  .github/labels.yml
Due: check-yaml, codespell, yamllint

added host, username and password to config options: #178, #184
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Added host, username, password option strings
  custom_components/omnik_inverter/strings.json
Due: check-json, codespell

added options config by source type
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

fixed typo
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

fixed conf type
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

options added validate host
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

try fix config
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

more options changes
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

added tcp options
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

updated options DE
  custom_components/omnik_inverter/translations/de.json
Due: check-json, codespell

Updated options EN
  custom_components/omnik_inverter/translations/en.json
Due: check-json, codespell

Updated options NL
  custom_components/omnik_inverter/translations/nl.json
Due: check-json, codespell

fixed config update
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

fixed integration don't update title
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

added errors to options
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

removed unneeded entry in options
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

added name config in options
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

fixed options
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

fixed config options typo
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

updated DE
  custom_components/omnik_inverter/translations/de.json
Due: check-json, codespell

Updated EN
  custom_components/omnik_inverter/translations/en.json
Due: check-json, codespell

Updated NL
  custom_components/omnik_inverter/translations/nl.json
Due: check-json, codespell

Updated strings (added name)
  custom_components/omnik_inverter/strings.json
Due: check-json, codespell

change name only if specified
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Updated DE
  custom_components/omnik_inverter/translations/de.json
Due: check-json, codespell

fixed empty name in options
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

Fixed setting empty name
  custom_components/omnik_inverter/config_flow.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture

added default name in options
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
Due: black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, flake8, isort, pylint, pyupgrade, vulture
