Repository robbinjanssen/home-assistant-omnik-inverter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, yamllint

ruff-check:
  name: Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: Check code for common misspellings
  language: system
  args:
  - --ignore-words=.codespell-ignore
  - --skip=./custom_components/omnik_inverter/translations
  entry: poetry run codespell

mypy:
  name: Static type checking using mypy
  language: system
  entry: poetry run mypy

pylint:
  name: Starring code with pylint
  language: system
  entry: poetry run pylint

yamllint:
  name: Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Bump version to 4.0.0
  custom_components/omnik_inverter/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

Tighten workflow permissions and streamline CI
  .github/workflows/ci.yaml
  .github/workflows/draft-release.yaml
  .github/workflows/hacs.yml
  .github/workflows/hassfest.yaml
  .github/workflows/issues.yaml
  .github/workflows/linting.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/tests-beta.yaml
  .github/workflows/verify-pr-labels.yaml
Due: check-yaml, codespell, yamllint

Run mypy serially in pre-commit
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Require Home Assistant 2026.10
  README.md
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/models.py
  custom_components/omnik_inverter/strings.json
  custom_components/omnik_inverter/translations/de.json
  custom_components/omnik_inverter/translations/en.json
  custom_components/omnik_inverter/translations/nl.json
  hacs.json
  poetry.lock
  pyproject.toml
  tests/test_sensor.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, mypy, pylint

Replace pre-commit with prek and unmaintained actions
  .github/workflows/ci.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/verify-pr-labels.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Clean up unused dependencies and configuration
  .flake8
  .pre-commit-config.yaml
  custom_components/omnik_inverter/config_flow.py
  custom_components/omnik_inverter/coordinator.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_config_flow.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, yamllint

Replace Poetry with uv
  .github/renovate.json
  .github/workflows/ci.yaml
  .github/workflows/tests-beta.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: check-json, check-toml, check-yaml, codespell, yamllint

Fetch inverter and device data with a single request
  custom_components/omnik_inverter/coordinator.py
  tests/conftest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint

Bump omnikinverter to 2.0.0
  custom_components/omnik_inverter/manifest.json
  pyproject.toml
  uv.lock
Due: check-json, check-toml, codespell

Set data source for the Hosola 1600T to JS
  README.md
Due: codespell

Add Hosola Bright 2500MTL-S and Sofar 2200TL to supported models
  README.md
Due: codespell

Add AGENTS.md and development setup instructions
  .github/CONTRIBUTING.md
  AGENTS.md
Due: codespell

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^(poetry\.lock$|custom_components/omnik_inverter/translations/)
  mypy: any of: \.py$
  pylint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
